* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

#card {
  width: 350px;
  height: fit-content;
  background-color: white;
  border-radius: 20px;
  padding: 1.5rem 1rem;
}
#user-details {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#left {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.4rem;
}

#left > i {
  font-size: 1.5rem;
}
span,
#verified-badge {
  color: royalblue;
}

#user-profile-img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

#right {
  font-size: 1.5rem;
}

#imgContainer {
  height: 350px;
  margin: 1rem 0;
  /* background-color: red; */
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  user-select: none;

}
#iconsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#love {
  position: absolute;
  color: transparent;
  top: 50%;
  left: 50%;
  font-size: 4rem;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  transform: translate(-50%, -50%) scale(0) rotate(-60deg);
  transition: all 0.3s ease;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
